<!-- 10大子系统模板 -->
<nz-layout id="SYS_">
    <nz-header>
        <div class="sys_topBar">
            <!-- 系统名字，可通过路由传参的方式映射 -->
            <div class="sys_name">
                <img src="../../../assets/sys/gh.png" alt="">
                <span>旅游业治安管理系统</span>
            </div>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider nzWidth="240px" nzTheme="dart">
            <ul nz-menu nzMode="inline" nzTheme="dark">
                <li *ngFor="let item of routerList" nz-submenu [nzTitle]="item.name">
                    <ul>
                        <li nz-menu-item *ngFor="let p of item.options;index as i"><a [routerLink]='p.url'>{{p.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <div class="sys_content">
                <router-outlet></router-outlet>
            </div>
        </nz-layout>
    </nz-layout>
</nz-layout>
<!-- end 10大子系统模板 -->