<div class="sys_tjfx_bbxt sys_box">
    <!-- 查询条件板块 -->
    <div class="query_bar sys_public_box">
        <div class="query_title sys_public_title">
            <img src="../../../../assets/sys/chaxun.png" alt="">
            <span>查询条件</span>
        </div>
        <ng-content select="[name=查询项内容]"></ng-content>
    </div>
    <!-- 信息列表板块 -->
    <div class="infoList sys_public_box">
        <nz-modal (nzOnCancel)='closeWindow.emit()' [nzCancelText]='null' [nzGetContainer]='getNode' [nzFooter]='null' [(nzVisible)]="isOpen">
            <ng-content select="[name=弹窗内容]"></ng-content>
        </nz-modal>
        <div class="query_title sys_public_title">
            <img src="../../../../assets/sys/liebiao.png" alt="">
            <span>信息列表</span>
        </div>
        <ng-content select="[name=表格内容]"></ng-content>
    </div>
</div>