<nz-layout class="app-layout">
    <!--侧边栏 nz-sider是通过nzCollapsed进行设定折叠状态的。-->
      <nz-sider class="menu-sidebar"
                nzCollapsible
                nzWidth="256px"
                nzBreakpoint="md"
                [(nzCollapsed)]="isCollapsed"
                [nzTrigger]="null">
        <div class="sidebar-logo">
          <a href="" target="_blank">
            <img src="../../../assets/svg/01.svg" alt="logo">
            <h1>长沙市娱乐管控系统平台</h1>
          </a>
        </div>
        <nz-divider *ngIf="!isCollapsed" class="bow" style="overflow-x: hidden;" nzOrientation="left" nzText="系统功能菜单"></nz-divider>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu nzOpen nzTitle="信息采集" nzIcon="line-chart">
            <ul>
              <li nz-submenu nzTitle="Sub Menu">
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-menu-item nzMatchRouter >
                <a>公安综合查询</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>入住管理</a>
              </li>
            </ul>
          </li>
          <nz-divider></nz-divider>
          <li nz-submenu nzOpen nzTitle="信息综合" nzIcon="bar-chart">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>重点人员</a>
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
    <!--end-->
      <nz-layout>
        <!--顶部header导航栏-->
        <nz-header>
              <div class="app-header">
                  <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                      <i class="trigger"
                        nz-icon
                        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                      ></i>
                  </span>
                  <div class="header-item ment-right">
                        <div class="header-input">
                            <ng-template #suffixIconSearch>
                                <i nz-icon nzType="search"></i>
                            </ng-template>
                            <nz-input-group  [nzSuffix]="suffixIconSearch">
                                <input  type="text" nz-input placeholder="搜索" />
                            </nz-input-group>
                        </div>
                        <ul nz-menu nzMode="horizontal">
                            <li nz-menu-item nzSelected>
                                <i nz-icon nzType="home"></i>
                                首页
                            </li>
                            <li nz-submenu nzTitle="应用功能" nzIcon="menu">
                                    <ul>                     
                                      <li nz-menu-item>重点人员查询</li>
                                      <li nz-menu-item>二手机车回收</li>
                                      <li nz-menu-item>重点人员查询</li>
                                      <li nz-menu-item>二手机车回收</li>
                                      <li nz-menu-item>重点人员查询</li>
                                      <li nz-menu-item>二手机车回收</li>
                                    </ul>                         
                            </li>
                            <li nz-menu-item nzSelected>
                                <i nz-icon nzType="radar-chart"></i>
                                接入功能
                            </li>
                            <li nz-menu-item nzSelected>
                                <i nz-icon nzType="mail"></i>
                                管理功能
                            </li>
                            <li nz-menu-item nzSelected>
                                <i nz-icon nzType="android"></i>
                                接口功能
                            </li>
                            <li nz-menu-item nzSelected>
                                <i nz-icon nzType="fire"></i>
                                长沙特色
                            </li>
                            <li nz-menu-item>
                                <img style="width: 30px;height: 30px;" src="../../../assets/svg/admin.svg" alt="">
                            </li>
                        </ul>
                  </div>
              </div>
        </nz-header>
        <!--end-->
        <!--内容动态路由区域-->
        <nz-content style="background: #142436;"> 
            <router-outlet></router-outlet>
        </nz-content>
        <!--end-->
      </nz-layout>   
</nz-layout>