* {
    &::-webkit-scrollbar {
        width : 0;
        height: 0;
    }
}

#SYS_ {
    position        : relative;
    height          : 100%;
    overflow        : hidden;
    background-color: #f7f7f7;
    min-width       : 1500px;
    .ant-layout-header{
        padding: 0 30px;
    }
    .ant-layout-sider-children{
        overflow: scroll;
    }
    // 顶部导航栏
    .sys_topBar {
        height    : 100%;
        position  : relative;

        .sys_name {
            height            : 100%;
            display           : flex;
            // justify-content: center;
            align-items       : center;

            img {
                width      : 35px;
                height     : 35px;
                line-height: 35px;
            }

            span {
                font-size  : 20px;
                line-height: 35px;
                color      : #ffffff;
                margin-left: 10px;
            }
        }
    }

    .sys_middle {
        height  : 100%;
        position: relative;
        display : flex;

        .sys_navigation {
            width           : 250px;
            height          : 100%;
            background-color: #001529;
            overflow        : scroll;

        }

        .sys_content {
            flex    : 1;
            height  : 100%;
            overflow: scroll;
            padding : 15px;

        }
    }

    // nz-content {
    //     overflow: scroll;

    //     &::-webkit-scrollbar {
    //         width : 0;
    //         height: 0;
    //     }
    // }

    .pointer {
        cursor: pointer;
    }

    // ng-modal {
    //     .ant-modal {
    //         height: 100%;
    //         margin: 20px 0;
    //         width : 80%;
    //     }
    // }

    .ant-modal {
        height : 90%;
        width  : 70% !important;
        top    : 5%;
        padding: 0 !important;

        .ant-modal-body {
            height : 100%;
            padding: 25px 15px;
        }

        .ant-modal-content {
            height  : 100%;
            overflow: scroll;
        }

        .window_info_item {
            padding      : 20px;
            margin       : 0 30px;
            border-radius: 5px;
            box-shadow   : 0px 0px 15px rgba(0, 0, 0, 0.3);
            white-space  : normal;
            margin-bottom: 20px;

            .window_top {
                height     : 70px;
                display    : flex;
                align-items: center;
                padding    : 10px 20px;

                img {
                    width : 30px;
                    height: 30px;
                }

                span {
                    font-size  : 18px;
                    margin-left: 20px;
                }
            }

            .input_box {
                display: flex;

                .left_content {
                    width    : 80%;
                    display  : flex;
                    flex-wrap: wrap;

                    .item_data {
                        width      : 50%;
                        margin     : 15px 0;
                        line-height: 25px;
                        display    : flex;

                        label,
                        .c_value {
                            font-size: 15px;
                            width    : 50%;
                        }

                        .c_value {
                            border          : 1px solid #cccccc;
                            height          : 25px;
                            padding-left    : 10px;
                            background-color: #cccccc;
                        }

                        label {
                            padding-right: 15px;
                            text-align   : right;
                        }
                    }
                }

                .right_img {
                    flex: 1;
                    display: flex;
                    .img_box {
                        margin: 0 auto;
                        width : 160px;
                        margin:0 10px;
                        .img_text {
                            font-size    : 15px;
                            margin-bottom: 15px;
                            text-align   : center;
                        }

                        .img_img {
                            width     : 160px;
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
                            height    : 180px;
                        }
                    }
                }
            }
        }
    }

    .sys_box {
        position: relative;
        height  : 100%;
        padding : 30px 10%;
        height  : 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }

        .query_options {
            display   : flex;
            margin-top: 20px;
            flex-wrap : wrap;

            .query_item {
                width  : 33.333333%;
                display: flex;
                margin : 10px 0;

                .item_name {
                    width          : 50%;
                    display        : flex;
                    align-items    : center;
                    padding-right  : 10px;
                    justify-content: flex-end;
                    white-space    : nowrap;
                }

                .option {
                    flex: 1;

                    nz-select,
                    nz-input {
                        width : 100%;
                        height: 25px;
                    }

                    nz-time-picker,
                    nz-picker {
                        height: 24px;
                        width : 100%;

                        .ant-time-picker-input,
                        .ant-calendar-picker-input,
                        .ant-calendar-picker{
                            height: 24px;
                            width : 100% !important;
                        }
                    }
                }
            }
        }

        .button_bar {
            display: flex;
            margin : 15px 0;

            .but_box {
                display: flex;
                margin : 0 auto;

                .but_item {
                    height          : 30px;
                    background-color: #169BD5;
                    color           : #ffffff;
                    line-height     : 30px;
                    padding         : 0 15px;
                    border-radius   : 5px;
                    cursor          : pointer;

                    &:nth-child(2) {
                        margin: 0 20px;
                    }
                }
            }
        }

        .infoList {
            nz-table {
                margin-top: 20px;

                td,
                th {
                    background-color: #ffffff;
                    white-space     : nowrap;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width : 0;
        height: 0;
    }
}

.sys_public_box {
    padding         : 20px;
    border-radius   : 10px;
    margin          : 15px 0;
    position        : relative;
    box-shadow      : 0px 0px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color           : #333;
    overflow        : scroll;

    .sys_public_title {
        span {
            font-size     : 20px;
            vertical-align: middle;
            margin-left   : 15px;
        }
    }

    .query_item {
        span {
            color: #333;
        }
    }

    .table_content {
        position  : relative;
        min-height: 50%;

        .totalClass {
            position: absolute;
            bottom  : 20px;
            left    : 30%;

        }
    }
}